<div class="job_all_container">
    <div class="job_all_box">
        <div class="title">
            Việc làm tốt nhất
        </div>
        <div class="item_box">
            <div class="item">
                <div class="main">
                    <div class="avt">
                        <img src="../../../../assets/images/avatar-user.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="name">
                            Game Center
                        </div>
                        <div class="company">
                            Công ty TNHH Game Center
                        </div>
                        <div class="address">
                            Thành phố HCM
                        </div>
                        <div class="date">
                            Ngày đâng: 12/12/2020
                        </div>
                        <div class="tag">
                            <div class="tag_box" >#qưerty</div>
                        </div>
                    </div>
                </div>
                <div class="salary">
                    <!-- $1000 - $2000 -->
                    Thương lượng
                </div>
            </div>
        </div>
    </div>
</div>