<div class="job_all_container">
    <div class="job_all_box">
        <div class="title" *ngIf="isHotJob">
            Việc làm nổi bật
        </div>
        <div class="title" *ngIf="isBestJob">
            Việc làm tốt nhất
        </div>
        <div class="item_box">
            <div class="item" *ngFor="let job of jobToRender">
                <div class="main">
                    <div class="avt">
                        <img src="{{job.Company.Avatar}}" alt="">
                    </div>
                    <div class="info">
                        <div class="name" (click)="navigateToJobDetail(job.JobId)">
                            {{job.Name}}
                        </div>
                        <div class="company">
                            {{job.Company.Name}}
                        </div>
                        <div class="address">
                            {{job.Address}}
                        </div>
                        <div class="date">
                            Ngày đăng: {{job.StartDate}}
                        </div>
                        <div class="tag"*ngFor="let tag of job.Tags">
                            <div class="tag_box" (click)="navigateToJobs(tag)">#{{tag}}</div>
                        </div>
                    </div>
                </div>
                <div class="salary">
                    {{job.Salary}}
                </div>
            </div>
        </div>
    </div>
</div>