<div id="detailcompany_container">
    <div id="detailcompany_box">
        <div class="header">
            <div class="name">
                <div class="img_company">
                    <img src="{{companyToRender.Avatar}}" alt="">
                </div>
                <div class="name_company">
                    <h1>{{companyToRender.Name}}</h1>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="info_company">
                <div class="title">
                    <h1>Về chúng tôi</h1>
                </div>
                <div class="info">
                    <div class="field">
                        <div class="title_info">
                            Lĩnh vực
                        </div>
                        <div class="field_name"*ngIf="companyToRender.Field">
                        {{companyToRender.Field.FieldName}}
                        </div>
                    </div>
                    <div class="contact">
                        <div class="title_info">
                            Liên hệ
                        </div>
                        <div class="contact_name">
                            {{companyToRender.Email}}
                        </div>
                    </div>
                    <div class="address">
                        <div class="title_info">
                            Địa chỉ
                        </div>
                        <div class="contact_name">
                            {{companyToRender.Address}}
                        </div>
                    </div>
                    <div class="description">
                        {{companyToRender.Description}}
                    </div>
                </div>
                <div class="title_recuiter">
                    <h2>Vị trí đang tuyển dụng</h2>
                    <div class="job_quantity">
                        <h2> {{companyToRender.JobQuantity}}</h2>
                    </div>
                </div>
                <div class="list_job">
                    <div class="job" *ngFor="let job of jobsToRender">
                        <div class="left">
                            <div class="img_job">
                                <img src="{{job.ImageOfCompany}}" alt="">
                            </div>
                            <div class="info_job">
                                <div class="name" (click)="navigateToJobDetail(job.JobId)">
                                    {{job.Name}}
                                </div>
                                <div class="company">
                                    {{job.Company.Name}}
                                </div>
                                <div class="salayry_address">
                                    <div class="salary">
                                        {{job.Salary}}
                                    </div>
                                    <div class="gach"></div>
                                    <div class="location">
                                        {{job.Address}}
                                    </div>
                                </div>
                                <div class="tag">
                                    <div class="tag_item" *ngFor="let tag of job.Tags">
                                        <div (click)="navigateToJobs(tag)">{{tag}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="control">
                                <div class="item_hot" >
                                    <div class="heart" (click)="updatedAndDeleteFavoriteJob(job)">
                                        <tui-svg class="{{checkFavoriteJob(job)}}" src="tuiIconHeartLarge" ></tui-svg>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
