<div id="detailcompany_container">
    <div id="detailcompany_box">
        <div class="header">
            <div class="name">
                <div class="img_company">
                    <img src="../../../../assets/images/avatar-user.jpg" alt="">
                </div>
                <div class="name_company">
                    <h1>Company Name</h1>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="info_company">
                <div class="title">
                    <h1>Về chúng tôi</h1>
                </div>
                <div class="info">
                    <div class="field">
                        <div class="title_info">
                            Lĩnh vực
                        </div>
                        <div class="field_name">
                            Ô tô
                        </div>
                    </div>
                    <div class="contact">
                        <div class="title_info">
                            Liên hệ
                        </div>
                        <div class="contact_name">
                            gmail
                        </div>
                    </div>
                    <div class="address">
                        <div class="title_info">
                            Địa chỉ
                        </div>
                        <div class="contact_name">
                            địa chỉ
                        </div>
                    </div>
                    <div class="description">
                        mô tả
                    </div>
                </div>
                <div class="title_recuiter">
                    <h2>Vị trí đang tuyển dụng</h2>
                    <div class="job_quantity">
                        <h2> (15 việc làm)</h2>
                    </div>
                </div>
                <div class="list_job">
                    <div class="job">
                        <div class="left">
                            <div class="img_job">
                                <img src="../../../../assets/images/avatar-user.jpg" alt="">
                            </div>
                            <div class="info_job">
                                <div class="name">
                                    Testing and Validation Engineer
                                </div>
                                <div class="company">
                                    Công ty TNHH Thương Mại Dịch Vụ Hàng Hải
                                </div>
                                <div class="salayry_address">
                                    <div class="salary">
                                        Thương lượng
                                    </div>
                                    <div class="gach"></div>
                                    <div class="location">
                                        Hà Nội
                                    </div>
                                </div>
                                <div class="tag">
                                    <div class="tag_item">
                                        dsadas
                                    </div>
                                    <div class="tag_item">
                                        dsadas
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="control">
                                <div class="heart">
                                    <span class="material-symbols-outlined">
                                        favorite
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
