<div id="application_container">
    <div class="application_box">
        <div class="head">
            <h1>Danh sách bài tuyển dụng</h1>
        </div>
        <div class="body">
            <div class="job_box">
                <div class="control">
                    <div class="position_title">
                        Vị trí ứng tuyển
                    </div>
                    <div class="name_title">
                        Tên ứng viên
                    </div>
                    <div class="career_field_title">
                        Ngành nghề/ Lĩnh vực
                    </div>
                    <div class="email_title">
                        Email
                    </div>
                    <div class="date_title">
                        Ngày ứng tuyển
                    </div>
                    <div class="status_title">
                        Trạng thái
                    </div>  
                </div>
                <div class="candidate_list" (click)="openDetailDialog()">
                    <div class="position">
                        a
                    </div>
                    <div class="name">
                        a
                    </div>
                    <div class="career_field">
                        a/ a
                    </div>
                    <div class="email">
                        a
                    </div>
                    <div class="date">
                        a
                    </div>
                    <div class="status">
                        <div class="status_box_selected">
                            Chấp nhận
                        </div>
                        <!-- <div class="status_box_processing">
                            Đang chờ
                        </div> -->
                        <!-- <div class="status_box_processing">
                            Đã xem
                        </div> -->
                    </div>
                </div>                  
            </div>
        </div>
    </div>
</div>

<dialog id="detail_dialog" style="color: #1f1a1c" #detailDialog>
        <div id="top_dialog">
            <div class="title">
                <h4>Chi tiết ứng viên</h4>
            </div>
            <div class="btnClose" (click)="closeDetailDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="info">
                <div class="basic">
                    <div class="avatar">
                        <img src="{../../../../../../assets/images/avatar-user.jpg" alt="avatar">
                    </div>
                    <div class="info_basic">
                        <div class="name">
                            <div class="title">
                                Họ và Tên:
                            </div>
                            a
                        </div>
                        <div class="position">
                            <div class="title">
                                Kinh nghiệm - Chức danh:
                            </div>
                            a - a
                        </div>
                        <div class="email">
                            <div class="title">
                                Gmail:
                            </div>
                            a
                        </div>
                        <div class="phone">
                            <div class="title">
                                Số điện thoại:
                            </div>
                            b
                        </div>
                        <div class="address">
                            <div class="title">
                                Địa chỉ:
                            </div>
                            a
                        </div>
                    </div>
                </div>
                <div class="experience">
                    <div class="title">
                        Kinh nghiệm làm việc
                    </div>
                    <div class="experience_box" >
                        <div class="h1">
                            <div class="company">
                                <div class="title">
                                    Công ty:
                                </div>
                                a
                            </div>
                            <div class="position">
                                <div class="title">
                                    Vị trí:
                                </div>
                                a
                            </div>
                        </div>
                        <div class="h2">
                            <div class="date_start">
                                <div class="title">
                                    Ngày bắt đầu:
                                </div>
                                a
                            </div>
                            <div class="date_end">
                                <div class="title">
                                    Ngày kết thúc:
                                </div>
                                a
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="education">
                    <div class="title">
                        Học vấn
                    </div>
                    <div class="education_box" >
                        <div class="h1">
                            <div class="school">
                                <div class="title">
                                    Đại học:
                                </div>
                                a
                            </div>
                            <div class="major">
                                <div class="title">
                                    Bằng cấp:
                                </div>
                                a
                            </div>
                        </div>
                        <div class="h2">
                            <div class="date_start">
                                <div class="title">
                                    Ngày bắt đầu:
                                </div>
                                a
                            </div>
                            <div class="date_end">
                                <div class="title">
                                    Ngày kết thúc:
                                </div>
                                a
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="skill">
                    <div class="title">
                        Kỹ năng
                    </div>
                    <div class="skill_box">
                        <div class="skill_name" >
                            a - a/5
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="title">
                        Ngoại ngữ
                    </div>
                    <div class="skill_box">
                        <div class="skill_name">
                            a
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeDetailDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="closeDetailDialog()" 
                        class="tui-space_right-3 tui-space_bottom-3">
                        Chấp nhận
                    </button>
                </div>
            </div>
        </div>
    
</dialog>
