<div id="application_container">
    <div class="application_box">
        <div class="head">
            <h1>Danh sách tuyển dụng</h1>
        </div>
        <div class="body">
            <div class="job_box">
                <div class="control">
                    <div class="position_title">
                        Vị trí ứng tuyển
                    </div>
                    <div class="name_title">
                        Tên ứng viên
                    </div>
                    <div class="career_field_title">
                        Ngành nghề/ Lĩnh vực
                    </div>
                    <div class="email_title">
                        Email
                    </div>
                    <div class="date_title">
                        Ngày ứng tuyển
                    </div>
                    <div class="status_title">
                        Trạng thái
                    </div>  
                </div>
                <div class="candidate_list" *ngFor="let recrutment of recruitments" (click)="openDetailDialog()">
                    <div class="position">
                        {{recrutment.Job.Name}}
                    </div>
                    <div class="name">
                        {{recrutment.Candidate.Name}}
                    </div>
                    <div class="career_field">
                        {{recrutment.Career.Name}}/ {{recrutment.Field.FieldName}}
                    </div>
                    <div class="email">
                        {{recrutment.Candidate.Email}}
                    </div>
                    <div class="date">
                        {{parseDateInComponent(recrutment.DateApply)}}
                    </div>
                    <div class="status">
                        <div class="status_box_selected" *ngIf="recrutment.Status">
                            Đã duyệt
                        </div>
                        <div class="status_box_processing" *ngIf="!recrutment.Status">
                            Đang chờ
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
</div>

<dialog id="detail_dialog" style="color: #1f1a1c" #detailDialog>
        <div id="top_dialog">
            <div class="title">
                <h4>Chi tiết ứng viên</h4>
            </div>
            <div class="btnClose" (click)="closeDetailDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="info">
                <div class="basic">
                    <div class="avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                    </div>
                    <div class="info_basic">
                        <div class="name">
                            <div class="title">
                                Họ và Tên:
                            </div>
                            Phung Minh Khoa
                        </div>
                        <div class="position">
                            <div class="title">
                                Chức danh hiện tại:
                            </div>
                            Fresher - 4 năm 
                        </div>
                        <div class="email">
                            <div class="title">
                                Gmail:
                            </div>
                            Khoaphung.18072002gmail.com
                        </div>
                        <div class="phone">
                            <div class="title">
                                Số điện thoại:
                            </div>
                            0981809724
                        </div>
                        <div class="address">
                            <div class="title">
                                Địa chỉ:
                            </div>
                            123/4/5 Đường 3/2, Phường 12, Quận 10, TP.HCM
                        </div>
                    </div>
                </div>
                <div class="experience">
                    <div class="title">
                        Kinh nghiệm làm việc
                    </div>
                    <div class="experience_box">
                        <div class="h1">
                            <div class="company">
                                <div class="title">
                                    Công ty:
                                </div>
                                Công ty TNHH ABC
                            </div>
                            <div class="position">
                                <div class="title">
                                    Vị trí:
                                </div>
                                Nhân viên kinh doanh
                            </div>
                        </div>
                        <div class="h2">
                            <div class="date_start">
                                <div class="title">
                                    Ngày bắt đầu:
                                </div>
                                20/10/2020
                            </div>
                            <div class="date_end">
                                <div class="title">
                                    Ngày kết thúc:
                                </div>
                                21/10/2021
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="education">
                    <div class="title">
                        Học vấn
                    </div>
                    <div class="education_box">
                        <div class="h1">
                            <div class="school">
                                <div class="title">
                                    Đại học:
                                </div>
                                Đại học Hoa Sen
                            </div>
                            <div class="major">
                                <div class="title">
                                    Bằng cấp:
                                </div>
                                Cử nhân An toàn thông tin 
                            </div>
                        </div>
                        <div class="h2">
                            <div class="date_start">
                                <div class="title">
                                    Ngày bắt đầu:
                                </div>
                                20/10/2020
                            </div>
                            <div class="date_end">
                                <div class="title">
                                    Ngày kết thúc:
                                </div>
                                21/10/2021
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="skill">
                    <div class="title">
                        Ngoại ngữ
                    </div>
                    <div class="skill_box">
                        <div class="skill_name">
                            Tiếng Anh
                        </div>
                        <div class="skill_name">
                            Tiếng Anh
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeDetailDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="openEmilDialog()" 
                        class="tui-space_right-3 tui-space_bottom-3">
                        Chấp nhận
                    </button>
                </div>
            </div>
        </div>
    
</dialog>

<dialog id="email_dialog" style="color: #1f1a1c" #emailDialog>
    <div id="top_dialog">
        <div class="title">
            <h4>Gửi Email</h4>
        </div>
        <div class="btnClose" (click)="closeDetailDialog()">
            <span class="material-symbols-outlined">
                close
            </span>
        </div>
    </div>
    <div id="body_dialog">
        <div class="email_box">
            <div class="title">
                <h1>Bạn hãy chọn ngày để phỏng vấn ứng viên</h1>
            </div>
            <div class="datetimepicker">
                <input type="date" id="date" value="2018-07-03">
                <span></span>
                <input type="time" id="time" value="08:00">
            </div>
        </div>
        <div class="a" style="width: 100%;
        border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
        <div class="row4">
            <div class="btn_Huy">
                <button appearance="primary" tuiButton type="button" (click)="closeEmailDialog()"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Hủy
                </button>
            </div>
            <div class="btn_Luu">
                <button appearance="primary" tuiButton type="button" (click)="closeEmailDialog()" 
                    class="tui-space_right-3 tui-space_bottom-3">
                    Chấp nhận
                </button>
            </div>
        </div>
    </div>

</dialog>