.payment_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    .payment_header{
        font-size: 24px;
        font-weight: 600;
        
    }
    .payment_content{
        display: flex;
        flex-direction: row;
        width: 80%;
        .payment_service{
            width: 40%;
        }
        .payment_job{
            width: 60%;
        }
        .payment_service, .payment_job{
            padding: 0 10px;
            .payment_service_title, .payment_job_title{
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }
            .payment_service_content, .payment_job_content{
                display: flex;
                flex-direction: column;
                .payment_service_item, .payment_job_item{
                    padding: 12px 10px;
                    border: 1px solid #ccc;
                    margin: 10px 0;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.1);
                }
            }
            .payment_job_item{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .name, .description, .address, .location, .salary, .welfare, .field, .career,.date,.requirement,.tag{
                    display: flex;
                    flex-direction: row;
                    .job_name_title, .job_description_title, .job_address_title, .job_location_title,.job_salary_title
                    ,.job_welfare_title, .job_field_title, .job_career_title, .job_date_title, .job_requirement_title, .job_tag_title
                    {    
                        width: 20%;
                        
                    }

                    .job_description, .job_address, .job_location, .job_salary, .job_welfare, .job_field, .job_career, .job_date, .job_requirement, .job_tag{
                        width: 80%;
                    }
                    
                }
                

            }
        }
    }
    .notice{
        font-size: 14px;
        font-weight: 600;
        color: red;
        margin-top: 15px;
        text-align: center;
    }
    .payment_total{
        margin-top: 15px;
        //width: 60%;
        
        .btn_momo{
            background-color: #AF1A70;
            color: white;
        }
        .btn_momo{
            width: 10rem;
            height: 1.5rem;
            padding: 10px;
            border-radius: 12px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
        }
        
    }
}