<div class="payment_container">
    <div class="payment_header">
         <p>Xác nhận thanh toán</p>
    </div>
    <div class="payment_content">
        <div class="payment_service">
            <div class="payment_service_title">
                <p>Dịch vụ</p>
            </div>
            <div class="payment_service_content">
                <div class="payment_service_item">
                    <div class="service_iteam_name">
                        {{servicePackageAtPayment.Name}}
                    </div>
                    <div class="service_iteam_description">
                        {{servicePackageAtPayment.Description}}
                    </div>
                    <div class="service_iteam_price" >
                        Giá: {{servicePackageAtPayment.Price}}
                    </div>
                </div>
            </div>
        </div>
        <div class="payment_job">
            <div class="payment_job_title">
                <p>Công việc</p>
            </div>
            <div class="payment_job_content">
                <div class="payment_job_item">
                    <div class="job_left">
                        <div class="job_name_title">
                            Tên công việc:
                        </div>
                        <div class="job_description_title">
                            Mô tả:
                        </div>
                        <div class="job_address_title">
                            Địa chỉ làm việc:
                        </div>
                        <div class="job_location_title">
                            Địa điểm làm việc:
                        </div>
                        <div class="job_salary_title">
                            Lương:
                        </div>
                        <div class="job_welfare_title">
                            Phúc lợi:
                        </div>
                        <div class="job_field_title">
                            Lĩnh vực:
                        </div>
                        <div class="job_career_title">
                            Ngành nghề:
                        </div>
                        <div class="job_date_title">
                            Ngày đăng:
                        </div>
                        <div class="job_requirement_title">
                            Yêu cầu:
                        </div>
                        <div class="job_tag">
                            Tag:
                        </div>
                    </div>
                    <div class="job_right" *ngIf="isGetJobSuccess">
                        <div class="job_name">
                            {{jobToRender.Name}}
                        </div>
                        <div class="job_description">
                            {{jobToRender.Description}}
                        </div>
                        <div class="job_address">
                            {{jobToRender.Address}}
                        </div>
                        <div class="job_location">
                            <div *ngFor="let location of jobToRender.Location">{{location}}</div>
                        </div>
                        <div class="job_salary">
                            {{jobToRender.Salary}}
                        </div>
                        <div class="job_welfare">
                            <div *ngIf="jobToRender.Welfare.length==0">Không có phúc lợi</div>
                            <div *ngFor="let welfare of jobToRender.Welfare">{{welfare}}</div>
                        </div>
                        <div class="job_field" >
                            {{jobToRender.Field.FieldName}}
                        </div>
                        <div class="job_career">
                            {{jobToRender.Career.Name}}
                        </div>
                        <div class="job_date">
                            {{parseDate(jobToRender.StartDate)}}
                        </div>
                        <div class="job_requirement">
                            {{jobToRender.Requirement}}
                        </div>
                        <div class="job_tag">
                            <div *ngIf="jobToRender.Tags.length==0">Không có tag</div>
                            <div *ngFor="let tag of jobToRender.Tags">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="a" style="width: 60%;
        border-bottom: 1px solid #cac8c8;margin-top: 30px;">
    </div>
    <div class="payment_total">
        <button appearance="primary" tuiButton type="button" (click)="payment()">
            Thanh toán
        </button>
    </div>
</div>
