<div class="payment_container">
    <div class="payment_header">
         <p>Xác nhận thanh toán</p>
    </div>
    <div class="payment_content">
        <div class="payment_service">
            <div class="payment_service_title">
                <p>Dịch vụ</p>
            </div>
            <div class="payment_service_content">
                <div class="payment_service_item">
                    <div class="service_iteam_name">
                        {{servicePackageAtPayment.Name}}
                    </div>
                    <div class="service_iteam_description">
                        {{servicePackageAtPayment.Description}}
                    </div>
                    <div class="service_iteam_price" >
                        Giá: {{servicePackageAtPayment.Price}}
                    </div>
                </div>
            </div>
        </div>
        <div class="payment_job">
            <div class="payment_job_title">
                <p>Công việc</p>
            </div>
            <div class="payment_job_content">
                <div class="payment_job_item">
                    <div class="name">
                        <div class="job_name_title">
                            Tên công việc:
                        </div>
                        <div class="job_name" *ngIf="isGetJobSuccess">
                            {{jobToRender.Name}}
                        </div>
                    </div>
                    <div class="description">
                        <div class="job_description_title">
                            Mô tả:
                        </div>
                        <div class="job_description" *ngIf="isGetJobSuccess">
                            {{jobToRender.Description}}
                        </div>
                    </div>
                    <div class="address">
                        <div class="job_address_title">
                            Địa chỉ làm việc:
                        </div>
                        <div class="job_address" *ngIf="isGetJobSuccess">
                            {{jobToRender.Address}}
                        </div>
                    </div>
                    <div class="location">
                        <div class="job_location_title">
                            Địa điểm làm việc:
                        </div>
                        <div class="job_location" *ngIf="isGetJobSuccess">
                            <div *ngFor="let location of jobToRender.Location">{{location}}</div>
                        </div>
                    </div>
                    <div class="salary">
                        <div class="job_salary_title">
                            Lương:
                        </div>
                        <div class="job_salary" *ngIf="isGetJobSuccess">
                            {{jobToRender.Salary}}
                        </div>
                    </div>
                    <div class="welfare">
                        <div class="job_welfare_title">
                            Phúc lợi:
                        </div>
                        <div class="job_welfare" *ngIf="isGetJobSuccess">
                            <div *ngIf="jobToRender.Welfare.length==0">Không có phúc lợi</div>
                            <div *ngFor="let welfare of jobToRender.Welfare">{{welfare}}</div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="job_field_title">
                            Lĩnh vực:
                        </div>
                        <div class="job_field" *ngIf="isGetJobSuccess">
                            {{jobToRender.Field.FieldName}}
                        </div>
                    </div>
                    <div class="career">
                        <div class="job_career_title">
                            Ngành nghề:
                        </div>
                        <div class="job_career" *ngIf="isGetJobSuccess">
                            {{jobToRender.Career.Name}}
                        </div>
                    </div>
                    <div class="date">
                        <div class="job_date_title">
                            Ngày đăng:
                        </div>
                        <div class="job_date" *ngIf="isGetJobSuccess">
                            {{jobToRender.StartDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="requirement">
                        <div class="job_requirement_title">
                            Yêu cầu:
                        </div>
                        <div class="job_requirement" *ngIf="isGetJobSuccess">
                            {{jobToRender.Requirement}}
                        </div>
                    </div>
                    <div class="tag">
                        <div class="job_tag_title">
                            Tag:
                        </div>
                        <div class="job_tag" *ngIf="isGetJobSuccess">
                            <div *ngIf="jobToRender.Tags.length==0">Không có tag</div>
                            <div *ngFor="let tag of jobToRender.Tags">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="a" style="width: 60%;
        border-bottom: 1px solid #cac8c8;margin-top: 15px;">
    </div>
    <div class="notice">
        <p>Bạn có thể chuyển khoản trực tiếp để thanh toán</p>
        <p>Số tài khoản: 0501 2105 2633</p>
        <p>Ngân hàng: Vietcombank</p>
        <p>Chủ tài khoản: Nguyễn Minh Khoa</p>
    </div>
    <div class="payment_accept">
        <div class="btn_accept" (click)="navigatePaymentsuccess()">
            Xác nhận thanh toán
        </div>
    </div>
    <div style="font-size: 14px;margin: 10px;">Hoặc</div>
    <div class="payment_total">
        <div class="btn_momo" (click)="payment()">
            Thanh toán momo
        </div>
    </div>
</div>
