<div class="payment_container">
    <div class="payment_header">
         <p>Xác nhận thanh toán</p>
    </div>
    <div class="payment_content">
        <div class="payment_service">
            <div class="payment_service_title">
                <p>Dịch vụ</p>
            </div>
            <div class="payment_service_content">
                <div class="payment_service_item">
                    <div class="service_iteam_name">
                        a
                    </div>
                    <div class="service_iteam_description">
                        a
                    </div>
                    <div class="service_iteam_price" >
                        Giá: a
                    </div>
                </div>
            </div>
        </div>
        <div class="payment_job">
            <div class="payment_job_title">
                <p>Công việc</p>
            </div>
            <div class="payment_job_content">
                <div class="payment_job_item">
                    <div class="job_left">
                        <div class="job_name_title">
                            Tên công việc:
                        </div>
                        <div class="job_description_title">
                            Mô tả:
                        </div>
                        <div class="job_address_title">
                            Địa chỉ làm việc:
                        </div>
                        <div class="job_location_title">
                            Địa điểm làm việc:
                        </div>
                        <div class="job_salary_title">
                            Lương:
                        </div>
                        <div class="job_welfare_title">
                            Phúc lợi:
                        </div>
                        <div class="job_field_title">
                            Lĩnh vực:
                        </div>
                        <div class="job_career_title">
                            Ngành nghề:
                        </div>
                        <div class="job_date_title">
                            Ngày đăng:
                        </div>
                        <div class="job_requirement_title">
                            Yêu cầu:
                        </div>
                        <div class="job_tag">
                            Tag:
                        </div>
                    </div>
                    <div class="job_right">
                        <div class="job_name">
                            a
                        </div>
                        <div class="job_description">
                            a
                        </div>
                        <div class="job_address">
                            a
                        </div>
                        <div class="job_location">
                            a
                        </div>
                        <div class="job_salary">
                            a
                        </div>
                        <div class="job_welfare">
                            a
                        </div>
                        <div class="job_field">
                            a
                        </div>
                        <div class="job_career">
                            a
                        </div>
                        <div class="job_date">
                            a
                        </div>
                        <div class="job_requirement">
                            a
                        </div>
                        <div class="job_tag">
                            a
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="a" style="width: 60%;
        border-bottom: 1px solid #cac8c8;margin-top: 30px;">
    </div>
    <div class="payment_total">
        <button appearance="primary" tuiButton type="button">
            Thanh toán
        </button>
    </div>
</div>
