<div id="statistical_container">
    <div class="title">Thống kê chi phí đã bỏ ra cho các công việc</div>
    <div class="box1">
        <div class="statistical_box1">
            <div class="list_job">
                <div class="title_job">
                    Tổng số tiền đã thanh toán: {{ totalOfField }}
                </div>
            </div>
        </div>
        <div class="statistical_box2">
            <div class="chart_box">
                <div class="choose">
                    <tui-tabs [(activeItemIndex)]="activeItemIndexOfChoose">
                        <button tuiTab (click)="changeModeOfTime(true,false,false)">
                            Ngày
                        </button>
                        <button tuiTab (click)="changeModeOfTime(false,true,false)"> 
                            Tháng
                        </button>
                        <button tuiTab (click)="changeModeOfTime(false,false,true)">
                            Năm
                        </button>
                    </tui-tabs>
                </div>
                <div class="tab">
                    <form [formGroup]="data">
                        <div class="input">
                            <tui-input-date
                                class="b-form"
                                formControlName="date"
                                tuiTextfieldSize="m"
                                [tuiTextfieldCleaner]="true"
                                *ngIf="isGetByDate"
                            >
                                Choose a date
                            </tui-input-date>
    
                            <tui-input-month
                                class="b-form"
                                formControlName="month"
                                tuiTextfieldSize="m"
                                [tuiTextfieldCleaner]="true"
                                *ngIf="isGetByMonth"
                            >
                                Choose a month
                                <input
                                    placeholder="Not September please"
                                    tuiTextfield
                                />
                            </tui-input-month>
    
                            <tui-input-year
                                class="b-form"
                                formControlName="year"
                                tuiTextfieldSize="m"
                                [tuiTextfieldCleaner]="true"
                                *ngIf="isGetByYear"
                            >
                                Choose a year
                                <input
                                    placeholder="Not 2022 please"
                                    tuiTextfield
                                />
                            </tui-input-year>

                        </div>
                    </form>
                </div>
                <div class="chart">
                    <tui-axes class="axes" [axisXLabels]="fields" [axisYLabels]="labelsY">
                        <tui-bar-chart
                        [max]="totalOfField" 
                        [value]="[grandTotalsOfField]"
                        [tuiHintAppearance]="appearance"
                        [tuiHintContent]="hint"
                        (mouseleave)="onHoverOut()"
                        ></tui-bar-chart>
                    </tui-axes>
                </div>
            </div>
            <div class="legend_box">
                <div class="box">
                    <div class="wrapper">
                        <tui-ring-chart
                            class="tui-ring-chart"
                            [value]="grandTotalsOfCareer"
                            [(activeItemIndex)]="activeItemIndex"
                        >
                            <tui-money
                                class="tui-money"
                                [singleColor]="true"
                                [value]="sum"
                            ></tui-money>
                            <div>{{label}}</div>
                        </tui-ring-chart>
                        
                        <div class="legend">
                            <tui-legend-item
                                *ngFor="let career of careers; let index = index"
                                size="s"
                                class="item legend-item"
                                [active]="isItemActive(index)"
                                [color]="getColor(index)"
                                [text]="career"
                                (tuiHoveredChange)="onHover(index, true)"
                            >
                                <tui-money
                                    class="tui-money"
                                    [singleColor]="true"
                                    [value]="percentOfGrandTotals[index]"
                                    currency="%"
                                ></tui-money>
                            </tui-legend-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>