<div id="login_container">
    <div id="background_register"></div>
    <div id="login_box">
        <div id="login_form_box">
            <div class="header">
            <span>Chào mừng bạn đã quay trở lại </span>
            <span style="font-size: 14px; color: black; font-weight: normal; margin-top: 10px;">Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</span>
            </div>
            <div class="body">
                <form [formGroup]="loginForm">
                <div class="form_login">
                    <div class="form_login_box">
                        <p>
                            <tui-input
                                
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                formControlName="Username"
                            >
                                Email
                                <input
                                    autocomplete="email"
                                    placeholder="Nhập email"
                                    tuiTextfield
                                    type="email"
                                />
                            </tui-input>
                        </p>
                    </div>
                    <div class="form_login_box">
                        <p>
                            <tui-input-password
                                formControlName="Password"
                                class="tui-space_top-2"
                                >
                                Mật khẩu
                                <input
                                    tuiTextfield
                                />
                            </tui-input-password>
                        </p>
                    </div>
                </div>
                <div class="reset_pass"  >
                    <span (click)="navigateToForgotPass()">Quên mật khẩu</span>
                </div>
                <div class="btn_login">
                    <button
                        appearance="primary"
                        tuiButton
                        type="button"
                        class="tui-space_right-3 tui-space_bottom-3"
                        (click)="loginWithAcouunt()"
                    >
                        Đăng nhập
                    </button>
                </div>
                <span class="login_option">Hoặc đăng nhập bằng</span>
                <div class="login_google" (click)="loginWithGoogle()">
                    <div class="img_google">
                        <img src="../../../assets/images/icons8-google-30.png" alt="">
                    </div>
                    <span>Google</span>
                </div>
                <div class="register_box">
                    <span>Bạn chưa có tài khoản?</span>
                    <span (click)="register()" style="color: #526ed3; margin-left: 3px; cursor: pointer;">Đăng ký ngay</span>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
