<div id="navbar_container">
    <div id="navbar_box">
      <div id="logo" (click)="onTabClick('home')">
        <img src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=i2M2IgCcw574LT-bXFY92g" alt="">
      </div>
      <tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs-container">
          <button class="btn_tab" [disabled]="activeItemIndex === 0" [routerLink]="['home']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Trang chủ</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 1" [routerLink]="['job']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Việc làm</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 2" [routerLink]="['company']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Công ty</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 3" [routerLink]="['favorite']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Hồ sơ & CV</span>
          </button>
          <!-- <button [disabled]="activeItemIndex === 4" [routerLink]="['profile']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">for_you</span>
          </button> -->
        </tui-tabs>
    </div>
    <div id="option_user">
        
      <div class="login" (click)="login()">
        Đăng nhập
      </div>
      <div class="register" (click)="register()">
        Đăng ký
      </div>

      <div class="user_dropdown">
        <button class="user_dropbtn">
          <div class="user_box">
            <div class="img_user">
              <img src="../../../../assets/images/kinhdoanh.png" alt="">
            </div>
            <span>Phùng Minh Khoa</span>
            <span class="material-symbols-outlined">
              expand_more
            </span>
          </div>
        </button>
        <div class="dropdown-content">
          <a href="#">Đăng nhập</a>
          <a href="#">Đăng kí</a>
          <a href="/profile">Hồ sơ</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          <span>Dành cho nhà tuyển dụng</span>
          <span class="material-symbols-outlined">
            expand_more
          </span>
        </button>
        <div class="dropdown-content">
          <a href="#">Đăng nhập</a>
          <a href="#">Đăng kí</a>
          <a href="/recruiterLayout/job-posting">Đăng tuyển dụng</a>
        </div>
      </div>
    </div>
</div>
