<div id="navbar_container">
    <div id="navbar_box">
      <div id="logo" (click)="onTabClick('home')">
        <img src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=i2M2IgCcw574LT-bXFY92g" alt="">
      </div>
      <tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs-container">
          <button class="btn_tab" [disabled]="activeItemIndex === 0" [routerLink]="['home']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Trang chủ</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 1" [routerLink]="['job']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Việc làm</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 2" [routerLink]="['company']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Công ty</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 3" [routerLink]="['favorite']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Hồ sơ & CV</span>
          </button>
          <!-- <button [disabled]="activeItemIndex === 4" [routerLink]="['profile']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">for_you</span>
          </button> -->
        </tui-tabs>
    </div>
    <div id="login_button">
        <div class="login_box" (click)="login()" style="margin-right: 10px;">
            <span class="material-symbols-outlined">
                person
            </span>
            <span>Đăng nhập</span>
        </div>

        <div>
            <div class="register_box" (click)="register()" style="margin-right: 10px;">
                <span class="material-symbols-outlined">
                    person_add
                </span>
                <span>Đăng ký</span>
            </div>
        </div>

        <div>
          <div class="login_box" >
              <span>Dành cho Nhà tuyển dụng</span>
          </div>
      </div>
    </div>
</div>
