<div id="navbar_container">
    <div id="navbar_box">
      <div id="logo" (click)="onTabClick('home')">
        <img src="https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=i2M2IgCcw574LT-bXFY92g" alt="">
      </div>
      <tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs-container">
          <button class="btn_tab" [disabled]="activeItemIndex === 0" [routerLink]="['home']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Trang chủ</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 1" [routerLink]="['job']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Việc làm</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 2" [routerLink]="['company']" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Công ty</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 3" [routerLink]="['profile']" *ngIf="isLogin" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Hồ sơ & CV</span>
          </button>
          <button class="btn_tab" [disabled]="activeItemIndex === 4" [routerLink]="['job-apply']" *ngIf="isLogin" routerLinkActive tuiTab>
            <span class="material-symbols-rounded">Danh sách bài ứng tuyển</span>
          </button>
        </tui-tabs>
    </div>
    <div id="option_user">
        
      <div class="login" (click)="login()" *ngIf="!isLogin">
        Đăng nhập
      </div>
      <div class="register" (click)="register()" *ngIf="!isLogin">
        Đăng ký
      </div>

      <div class="user_dropdown" *ngIf="isLogin">
        <button class="user_dropbtn">
          <div class="user_box">
            <div class="img_user">
              <img src="{{userLogged.Avatar}}" alt="">
            </div>
            <span>{{userLogged.Name}}</span>
            <span class="material-symbols-outlined">
              expand_more
            </span>
          </div>
        </button>
        <div class="dropdown-content">
          <a href="/profile">Hồ sơ</a>
          <a href="">Thoát</a>
        </div>
      </div>
      
      <div class="gach"></div>

      <div class="dropdown">
        <button class="dropbtn">
          <span>Dành cho nhà tuyển dụng</span>
          <span class="material-symbols-outlined">
            expand_more
          </span>
        </button>
        <div class="dropdown-content">
          <a href="#">Đăng nhập</a>
          <a href="#">Đăng kí</a>
          <a href="/recruiterLayout/choice-service">Đăng tuyển dụng</a>
          <a href="/recruiterLayout/job-detail">Bài tuyển dụng</a>
          <a href="/recruiterLayout/application-list">Danh sách tuyển dụng</a>
        </div>
      </div>
    </div>
</div>
