<div id="jobdetail_container">
    <div class="jobdetail_box">
        <div class="title">
            Duyệt bài đăng tuyển dụng
        </div>
        <div class="list_job">
            <div class="job" *ngFor="let job of jobsToRender">
                <div class="job_box">
                    <div class="img_job">
                        <img src="{{job.Company.Avatar}}" alt="">
                    </div>
                    <div class="info_job">
                        <div class="name_job">
                            {{job.Name}}
                        </div>
                        <div class="company_job">
                            Công ty: {{job.Company.Name}}
                        </div>
                        <div class="salary">
                            Lương: {{job.Salary}}
                        </div>
                        <div class="address">
                            Địa chỉ: {{job.Address}}
                        </div>
                        
                        <div class="time">
                            <div class="dateStart">
                                Ngày bắt đầu: {{parseDateInComponent(job.StartDate)}}
                            </div>
                            <div style="margin: 0 5px;">-</div>
                            <div class="dateEnd">
                                Ngày kết thúc: {{parseDateInComponent(job.EndDate)}}
                            </div>
                        </div>
                        <!-- <div class="status">
                            Trạng thái: <p *ngIf="job.StatusPayment" style="margin-left: 5px;">Đã thanh toán</p> <p *ngIf="!job.StatusPayment"  style="margin-left: 5px;">Chưa thanh toán</p>
                        </div> -->
                    </div>
                </div>
                <div class="control">
                    <!-- <div class="visibility">
                        <span class="material-symbols-outlined" (click)="seeDetailJob(job)">
                            visibility
                        </span>
                    </div> -->
                    <div class="delete">
                        <span class="material-symbols-outlined" (click)="seeDetailJob(job)">
                            check
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="control_item">
            <button icon="tuiIconChevronLeftLarge" title="Previous" tuiIconButton type="button" ></button>
            <!-- <tui-pagination size="s" class="pagination" [length]="5" [(index)]="index_item"></tui-pagination> -->
            <button icon="tuiIconChevronRightLarge" title="Next" tuiIconButton type="button" ></button>
        </div>
    </div>
</div>



<dialog id="visibility_dialog" style="color: #1f1a1c" #visibilityDialog>
        <div id="top_dialog">
            <div class="title">
                <h4>Thông tin cơ bản</h4>
            </div>
            <div class="btnClose" (click)="closeVisibilityDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog" *ngIf="isOpenDialog">
            <div class="job_box">
                    <div class="name_job">
                        <div class="header">
                            <span class="title">Tên công việc:</span>
                        </div>
                        <div class="body">
                            <div class="name">{{jobToRender.Name}}</div>
                        </div>
                    </div>
                    <div class="description_job">
                        <div class="header">
                            <span class="title">Mô tả công việc:</span>
                        </div>
                        <div class="body">
                            <div class="description">{{jobToRender.Description}}</div>
                        </div>
                    </div>
        
                    <div class="location_job">
                        <div class="header">
                            <span class="title">Địa chỉ làm việc:</span>
                        </div>
                        <div class="body">
                            <div class="location">{{jobToRender.Address}}</div>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Địa điểm làm việc:</span>
                        </div>
                        <div class="body">
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let location of jobToRender.Location">
                                    <div>{{location}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="salary_job">
                        <div class="header">
                            <span class="title">Lương công việc:</span>
                        </div>
                        <div class="body">
                            <div class="salary_value" *ngIf="jobToRender.Salary!='Thỏa thuận'">
                                ${{jobToRender.StartSalary}} - ${{jobToRender.EndSalary}}
                            </div>
                            <div class="salary_value" *ngIf="jobToRender.Salary" >
                                Thỏa thuận
                            </div>
                        </div>
                    </div>
        
                    <div class="welfare_job">
                        <div class="header">
                            <span class="title">Phúc lợi:</span>
                        </div>
                        <div class="body">
                            <div class="welfare_list">
                                <div class="welfare_select" *ngFor="let welfare of jobToRender.Welfare">
                                    <div>{{welfare}}</div>
                                    <span class="material-symbols-outlined">
                                        done
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="field_job">
                        <div class="header">
                            <span class="title">Lĩnh vực:</span>
                        </div>
                        <div class="body">
                            <div class="field">
                                {{jobToRender.Field.FieldName}}
                            </div>
                        </div>
                    </div>
        
                    <div class="career_job">
                        <div class="header">
                            <span class="title">Ngành nghề:</span>
                        </div>
                        <div class="body">
                            <div class="career">
                                {{jobToRender.Career.Name}}
                            </div>
                        </div>
                    </div>
        
                    <div class="dateStart_job">
                        <div class="header">
                            <span class="title">Ngày bắt đầu:</span>
                        </div>
                        <div class="body">
                            <div class="dateStart">
                                {{jobToRender.StartDate}}
                            </div>
                        </div>
                    </div>
        
                    <div class="dateEnd_job">
                        <div class="header">
                            <span class="title">Ngày kết thúc:</span>
                        </div>
                        <div class="body">
                            <div class="dateEnd">
                                {{jobToRender.EndDate}}
                            </div>
                        </div>
                    </div>
        
                    <div class="requirement_job">
                        <div class="header">
                            <span class="title">Yêu cầu:</span>
                        </div>
                        <div class="body">
                            <div class="requirement">{{jobToRender.Requirement}}</div>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Tag:</span>
                        </div>
                        <div class="body">
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let tag of jobToRender.Tags; let i=index">
                                    <div>{{tag}}</div>
                                    <span class="material-symbols-outlined">
                                        done
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeVisibilityDialog()"
                        class="tui-space_right-3 tui-space_bottom-3" (click)="confirmJob()">
                        Xác nhận công việc
                    </button>
                </div>
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeVisibilityDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
            </div>
        </div>
</dialog>
