<div id="success_container">
    <div class="success_box">
        <div class="img_success">
            <img src="../../../../assets/images/success.png" alt="">
        </div>
        <div class="title">
            <h1>Bạn đã thiết lập hồ sơ thành công</h1>
            <h4>Xin chúc mừng! Hồ sơ của bạn đã hoàn thiện. Bắt đầu hành trình tìm kiếm công việc mơ ước và kết nối với các nhà tuyển dụng tiềm năng.</h4>
        </div>
        <div class="btn_accept" (click)="goToProfile()">
            Xem hồ sơ của tôi
        </div>
    </div>
</div>