<div id="service_container">
    <div class="service_box">
        <div class="header">
            Chọn gói dịch vụ
        </div>
        <div class="body">
            <div class="service_iteam" *ngFor="let a of item" (click)="toggleItem(a)" [class.selected]="isSelected(a)">
                <div class="service_iteam_name">
                    {{a.name}}
                </div>
                <div class="service_iteam_description">
                    {{a.description}}
                </div>
                <div class="service_iteam_price" >
                    Giá: {{a.price}}
                </div>
                <tui-expand [expanded]="isSelected(a)">
                    <ng-template tuiExpandContent>
                        <p>{{a.detailedDescription}}</p>
                    </ng-template>
                </tui-expand>
            </div>
        </div>
        <div class="notice_box">
            <div class="notice">* Bạn đăng kí nhiều dịch vụ độ ưu tiên sẽ được tăng cao(Độ ưu tiên càng cao công việc sẽ được sắp xếp lên đầu)</div>
        </div>
        <div class="total_box">
            <div class="total">
                <div class="price_basic">
                    Giá cơ bản: 500 000
                </div>
                <div class="price_service">
                    Tiền dịch vụ: {{totalPrice}}
                </div>
                <div class="total_price">
                    Tổng giá tiền: {{totalPrice + 500000}}
                </div>
            </div>
        </div>
        
        <div class="btn_contorl">
            <div class="btn_cancel" (click)="returnHome()">
                Hủy
            </div>
            <div class="btn_accept" (click)="nextStep()">
                Tiếp tục
            </div>
        </div>
    </div>
</div>