<div id="detailcompany_container">
    <div id="detailcompany_box">
        <div class="job">
            <div class="name_job">
                {{jobToRender.Name}}
            </div>
            <div class="salary">
                {{jobToRender.Salary}}
            </div>
            <div class="control">
                <div class="extend">
                    <span class="material-symbols-outlined">
                        history
                    </span>
                    Hết hạn trong 21 ngày
                </div>
                <div class="gach"></div>
                <div class="location" *ngFor="let location of jobToRender.Location">
                    <span class="material-symbols-outlined">
                        label
                    </span>
                    {{location}}
                </div>
            </div>
            <div class="btn">
                <div class="btn_accept" (click)="openApplyDialog()">
                    Nộp đơn
                </div>
            </div>
        </div>
        <div class="description">
            Mô tả công việc
        </div>
        <div class="info_job">
            <div class="title_info">
                Thông tin việc làm
            </div>
            <div class="info_box">
                <div class="left">
                    <div class="date_post">
                        <div class="title2">
                            NGÀY ĐĂNG
                        </div>
                        <span>{{jobToRender.StartDate}}</span>
                    </div>
                    <div class="career">
                        <div class="title2">
                            NGÀNH NGHỀ
                        </div>
                        <span>{{jobToRender.Career.Name}}</span>
                    </div>
                    <div class="field">
                        <div class="title2">
                            LĨNH VỰC
                        </div>
                        <span>{{jobToRender.Field.FieldName}}</span>
                    </div>
                </div>
                <div class="right">
                    <div class="position">
                        <div class="title2">
                            Công ty
                        </div>
                        <span>{{jobToRender.Company.Name}}</span>
                    </div>
                    <div class="skill">
                        <div class="title2">
                            Địa điểm
                        </div>
                        <span *ngFor="let item of jobToRender.Location">{{item}}</span>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="address">
            <div class="title_address">
                Địa chỉ làm việc
            </div>
            <div class="address_box">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <span>{{jobToRender.Address}}</span>
            </div>
        </div>
    </div>
</div>


<dialog id="detail_dialog" style="color: #1f1a1c" #applyDialog>
    <div id="top_dialog">
        <div class="title">
            <h4>Chi tiết công việc</h4>
        </div>
        <div class="btnClose" (click)="closeApplyDialog()">
            <span class="material-symbols-outlined">
                close
            </span>
        </div>
    </div>
    <div id="body_dialog">
        <div class="info">
            <div class="basic">
                <div class="avatar">
                    <img src="../../../../../../assets/images/avatar-user.jpg" alt="avatar">
                </div>
                <div class="info_basic">
                    <div class="name">
                        <div class="title">
                            Công ty:
                        </div>
                        {{jobToRender.Company.Name}}
                    </div>
                    <div class="position">
                        <div class="title">
                            Vị trí tuyển dụng:
                        </div>
                        a
                    </div>
                    <div class="email">
                        <div class="title">
                            Giá cả:
                        </div>
                        a
                    </div>
                    <div class="phone">
                        <div class="title">
                            Địa chỉ:
                        </div>
                        b
                    </div>
                    <div class="address">
                        <div class="title">
                            Thời gian tuyển dụng:
                        </div>
                        a - a
                    </div>
                </div>
            </div>
            <div class="info_job">
                <div class="title">
                    Thông tin việc làm
                </div>
                <div class="info_job_box">
                    <div class="h1">
                        <div class="start_date">
                            <div class="icon">
                                <span class="material-symbols-outlined">
                                    calendar_today
                                </span>
                            </div>
                            <div class="content">
                                <div class="title_content">
                                    NGÀY ĐĂNG
                                </div>
                                <div class="content_text">
                                    a
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="icon">
                                <span class="material-symbols-outlined">
                                    app_registration
                                </span>
                            </div>
                            <div class="content">
                                <div class="title_content">
                                    KỸ NĂNG
                                </div>
                                <div class="content_text">
                                    akhsdkjh auwy dsad qwjdiwjddsad asdasdas asd asdasd ada dá ád
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h2">
                        <div class="career">
                            <div class="icon">
                                <span class="material-symbols-outlined">
                                    work
                                </span>
                            </div>
                            <div class="content">
                                <div class="title_content">
                                    NGÀNH NGHỀ
                                </div>
                                <div class="content_text">
                                    akhsdkjh auwy dsad qwjdiwjddsad asdasdas asd asdasd ada dá ád
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="icon">
                                <span class="material-symbols-outlined">
                                    dashboard
                                </span>
                            </div>
                            <div class="content">
                                <div class="title_content">
                                    LĨNH VỰC
                                </div>
                                <div class="content_text">
                                    akhsdkjh auwy dsad qwjdiwjddsad asdasdas asd asdasd ada dá ád
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="title">
                    Mô tả công việc
                </div>
                <div class="content">
                    akhsdkjh auwy dsad qwjdiwjddsad asdasdas asd asdasd ada dá ád djsahdj jasdj d jhjashd d jsur qasdj wqieu kaslj
                </div>
            </div>
        </div>
        <div class="a" style="width: 100%;
        border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
        <div class="row4">
            <div class="btn_Huy">
                <button appearance="primary" tuiButton type="button" (click)="closeApplyDialog()"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Hủy
                </button>
            </div>
            <div class="btn_Luu">
                <button appearance="primary" tuiButton type="button" (click)="closeApplyDialog()" 
                    class="tui-space_right-3 tui-space_bottom-3">
                    Chấp nhận
                </button>
            </div>
        </div>
    </div>

</dialog>