<div id="detailcompany_container">
    <div id="detailcompany_box">
        <div class="job">
            <div class="name_job">
                qưertyuiopasdfghjkl
            </div>
            <div class="salary">
                $1000 - $2000
            </div>
            <div class="control">
                <div class="extend">
                    <span class="material-symbols-outlined">
                        history
                    </span>
                    Hết hạn trong 21 ngày
                </div>
                <div class="gach"></div>
                <div class="location">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>
                    Hà Nội
                </div>
            </div>
            <div class="btn">
                <div class="btn_accept">
                    Nộp đơn
                </div>
            </div>
        </div>
        <div class="description">
            Mô tả công việc
        </div>
        <div class="info_job">
            <div class="title_info">
                Thông tin việc làm
            </div>
            <div class="info_box">
                <div class="left">
                    <div class="date_post">
                        <div class="title2">
                            NGÀY ĐĂNG
                        </div>
                        <span>15/04/2023</span>
                    </div>
                    <div class="career">
                        <div class="title2">
                            NGÀNH NGHỀ
                        </div>
                        <span>Kinh Doanh > Bán Hàng/Phát Triển Kinh Doanh</span>
                    </div>
                    <div class="field">
                        <div class="title2">
                            LĨNH VỰC
                        </div>
                        <span>Bất Động Sản/Cho thuê</span>
                    </div>
                </div>
                <div class="right">
                    <div class="position">
                        <div class="title2">
                            CẤP BẬC
                        </div>
                        <span>Nhân viên</span>
                    </div>
                    <div class="skill">
                        <div class="title2">
                            KỸ NĂNG
                        </div>
                        <span>Leasing, Real Estate, Communication, Client Negotiation</span>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="address">
            <div class="title_address">
                Địa điểm làm việc
            </div>
            <div class="address_box">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <span>Ha Noi</span>
            </div>
        </div>
    </div>
</div>
