<div id="register_container">
    <div id="background_register"></div>    
    <div id="register_box">
        <div id="register_form_box">
            <div class="header">
            <span>ĐĂNG KÍ TÀI KHOẢN ADMIN</span>
            </div>
            <form [formGroup]="adminRegisterForm">
            <div class="body">
                <div class="form_register">
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Email</label>
                        <p>
                            <tui-input
                                formControlName="Email"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Email
                                <input
                                    autocomplete="email"
                                    placeholder="Nhập email"
                                    tuiTextfield
                                    type="email"
                                />
                            </tui-input>
                        </p>
                    </div>
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Mật khẩu</label>
                        <p>
                            <tui-input-password
                                formControlName="Password"
                                class="tui-space_top-2"
                                >
                                Mật khẩu
                                <input
                                    tuiTextfield
                                />
                            </tui-input-password>
                        </p>
                    </div>
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Xác nhận mật khẩu</label>
                        <p>
                            <tui-input-password
                                formControlName="ConfirmPassword"
                                class="tui-space_top-2"
                                >
                                Xác nhận mật khẩu
                                <input
                                    tuiTextfield
                                />
                            </tui-input-password>
                        </p>
                    </div>
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Tên</label>
                        <p>
                            <tui-input
                                formControlName="Name"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Tên
                                <input
                                    placeholder="Nhập tên"
                                    tuiTextfield
                                    type="text"
                                />
                            </tui-input>
                        </p>
                    </div>
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Địa chỉ</label>
                        <p>
                            <tui-input
                                formControlName="Address"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Địa chỉ
                                <input
                                    placeholder="Nhập địa chỉ"
                                    tuiTextfield
                                    type="text"
                                />
                            </tui-input>
                        </p>
                    </div>
                    <div class="form_register_box">
                        <label style="margin-top: 10px;">Phone</label>
                        <p>
                            <tui-input
                                formControlName="Phone"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                            >
                                Phone
                                <input

                                    placeholder="Nhập số điện thoại"
                                    tuiTextfield
                                    type="text"
                                />
                            </tui-input>
                        </p>
                    </div>
                </div>
                
                <div  class="btn_register" (click)="registerWithAccount()">
                        <button
                        appearance="primary"
                        tuiButton
                        type="button"
                        class="tui-space_right-3 tui-space_bottom-3"
                        
                    >
                        Đăng ký
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
