<div id="pdf_container">
  <div id="pdf_box">
    <div class="header">
      <div class="back" (click)="back()">
        <span class="material-symbols-outlined">
          keyboard_backspace
        </span>
        Quay lại
      </div>
      <div class="accept" (click)="generatePDF()">
        Áp dụng
      </div>
    </div>
    <div class="body">
      <div class="list_cv">
        <div class="title_list">
          DANH SÁCH MẪU CV
        </div>
        <div class="list_cv_box">
          <div class="cv1">
            <img src="../../../../assets/images/cv1.png" alt="" (click)="cv1()">
          </div>
          <div class="cv2">
            <img src="../../../../assets/images/cv2.png" alt="" (click)="cv2()">
          </div>
          
        </div>
      </div>
      <div class="review_cv">
        <div class="title_review">
          XEM TRƯỚC CV
        </div>
        <div class="cv_box" id="theContent">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>