<div id="profile_container">
    <form [formGroup]="profileForm">
    <div class="profile_center">
        <div class="basic_information">
            <div class="information_box">
                <div class="img_profile">
                    <div class="img-file" *ngIf="!isUpdateImage" (click)="fileInput.click()">
                        <img src="{{candidateToRender.Avatar}}" alt="Selected Image" style="width: 100px;height: 100px; border-radius: 8px;" />
                    </div>
                    <div class="img-file" *ngIf="isUpdateImage" >
                        <img [src]="selectedImage" alt="Selected Image" style="width: 100px;height: 100px; border-radius: 8px;" (click)="fileInput.click()" />
                        <button (click)="updateAvatar()">lưu</button>
                    </div>
                    <input type="file" accept="image/*" (change)="onFileSelected($event) "
                        #fileInput formControlName="Image" style="display: none"/>
                </div>
                <div class="information" (click)="openUserDialog()">
                    <div class="user_name">
                        {{candidateToRender.Name}}
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </div>
                    <div class="box1">
                        <div class="position_box">
                            {{candidateToRender.Position}} - {{candidateToRender.Experience}} năm
                        </div>
                    </div>
                    <div class="info_list">
                        <div class="row1">
                            <div class="gmail_user">
                                <span class="material-symbols-outlined">
                                    mail
                                </span>
                                <span class="gmail">{{candidateToRender.Email}}</span>
                            </div>
                            <div class="phone_user">
                                <span class="material-symbols-outlined">
                                    phone
                                </span>
                                <span class="phone">{{candidateToRender.Phone}}</span>
                            </div>
                        </div>
                        <div class="row2">
                            <div class="address_user">
                                <span class="material-symbols-outlined">
                                    home
                                </span>
                                <span class="address">{{candidateToRender.Address}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="desired_job">
                <div class="title">
                    <h2>Công Việc Mong Muốn</h2>
                    <span class="material-symbols-outlined" (click)="openDesiredDialog()">
                        edit
                    </span>
                </div>
                <div class="workplace" (click)="openDesiredDialog()">
                    <div class="title_workplace">
                        Nơi làm việc
                    </div>
                    <div class="location" *ngIf="candidateToRender.DesiredJob.DesiredJobId != '500'">
                        {{candidateToRender.DesiredJob.Location}} 
                    </div>
                    <div class="location" *ngIf="candidateToRender.DesiredJob.DesiredJobId == '500'">
                        Cập nhật nơi làm việc
                    </div>
                </div>
                <div class="salary" (click)="openDesiredDialog()">
                    <div class="title_salary">
                        Mức lương mong muốn (USD/tháng)
                    </div>
                    <div class="salary_desired" *ngIf="candidateToRender.DesiredJob.DesiredJobId != '500'">
                        {{candidateToRender.DesiredJob.Salary}} 
                    </div>
                    <div class="salary_desired" *ngIf="candidateToRender.DesiredJob.DesiredJobId == '500'">
                        Cập nhật mức lương mong muốn
                    </div>
                </div>
            </div>
        </div>
        <div class="work_experience">
            <h2>Kinh nghiệm làm việc</h2>
            <span class="introduction">Mô tả kinh nghiệm làm việc của bạn càng chi tiết càng tốt, điều đó giúp bạn có cơ hội hiển thị nhiều hơn trong kết quả tìm kiếm</span>
            <div class="add_text" (click)="openExperienceDialog()">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <span>Thêm Kinh Nghiệm Làm Việc</span>
            </div>
            <div class="experience_select" *ngFor="let experience of candidateToRender.WorkExperience">
                <div class="box1">
                    <div class="img_experience">
                        <img src="../../../../assets/images/kinhdoanh.png" alt="">
                    </div>
                    <div class="info_experience">
                        <div class="position_user">
                            {{experience.JobTitle}}
                        </div>
                        <div class="company_user">
                            {{experience.CompanyName}}
                        </div>
                        <div class="date_user">
                            <div class="dateStart">
                                {{experience.StartDate | date: 'dd/MM/yyyy'}}
                            </div>
                            <div style="margin: 0 3px;">-</div>
                            <div class="dateEnd">
                                {{experience.EndDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="edit">
                        <span class="material-symbols-outlined" (click)="openUpdateExprienceDialog(experience)">
                            edit
                        </span>
                    </div>
                    <div class="delete" (click)="deleteWorkExperience(experience._id)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="learn">
            <h2>Học vấn</h2>
            <span class="introduction">Mô tả toàn bộ quá trình học vấn của bạn, cũng như các bằng cấp bạn đã được và các khóa huấn luyện bạn đã tham gia</span>
            <div class="add_text" (click)="openLearnDialog()">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <span>Thêm Học Vấn</span>
            </div>
            <div class="learn_select" *ngFor="let learn of candidateToRender.Education">
                <div class="box1">
                    <div class="img_experience">
                        <img src="../../../../assets/images/kinhdoanh.png" alt="">
                    </div>
                    <div class="info_learn">
                        <div class="learn_name">
                            {{learn.Major}}
                        </div>
                        <div class="school_name">
                            {{learn.School}}
                        </div>
                        <div class="date_user">
                            <div class="dateStart">
                                {{learn.StartDate | date: 'dd/MM/yyyy'}}
                            </div>
                            <div style="margin: 0 3px;">-</div>
                            <div class="dateEnd">
                                {{learn.EndDate| date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                        <div class="achivement">
                            <span>Bằng cấp: {{learn.Degree}}</span>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="edit">
                        <span class="material-symbols-outlined" (click)="openUpdateLearnDialog(learn)">
                            edit
                        </span>
                    </div>
                    <div class="delete" (click)="deleteEducation(learn._id)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="skill">
            <h2>Kỹ Năng</h2>
            <div class="add_text" (click)="openSkillDialog()">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <span>Thêm Học Vấn</span>
            </div>
            <div class="skill_select" *ngFor="let skill of candidateToRender.Skills">
                <span>{{skill}}</span>
                <span class="material-symbols-outlined" (click)="deleteSkill(skill)">
                    delete
                </span>
            </div>
        </div>

        <div class="language">
            <h2>Ngoại ngữ</h2>
            <div class="add_text" (click)="openLanguageDialog()">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <span>Thêm Ngoại Ngữ</span>
            </div>
            <div class="language_select" *ngFor="let language of candidateToRender.Languages">
                <span>{{language}}</span>
                <span class="material-symbols-outlined" (click)="deleteLanguage(language)">
                    delete
                </span>
            </div>
        </div>
    </div>
</form>
</div>

<dialog id="experience_dialog" style="color: #1f1a1c" #exprienceDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thêm Kinh Nghiệm Làm Việc</h4>
            </div>
            <div class="btnClose" (click)="closeExperienceDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="position_box" > 
                    <span class="title">Chức Danh</span>
                    <tui-input
                        formControlName="JobTitle"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Chức Danh Của Bạn
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="JobTitle"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                
                <div class="company_box" > 
                    <span class="title">Công Ty</span>
                    <tui-input
                        formControlName="Company"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Công Ty
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="Company"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row2">
                <div class="start_box">
                    <span class="title">Từ Ngày</span>
                    <tui-input
                        formControlName="StartDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Bắt Đầu
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
                <div class="end_box">
                    <span class="title">Đến Ngày</span>
                    <tui-input
                        formControlName="EndDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Kết Thúc
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="row3">
                <div class="description_box" > 
                    <span class="title">Mô tả</span>
                    <tui-textarea formControlName="Description" [tuiTextfieldCleaner]="true">
                        Nhập Mô Tả
                    </tui-textarea>
                    <tui-error
                        formControlName="Description"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeExperienceDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateWorkExperience()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="experience_dialog" style="color: #1f1a1c" #updateExprienceDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Sửa Kinh Nghiệm Làm Việc</h4>
            </div>
            <div class="btnClose" (click)="closeUpdateExprienceDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="position_box" > 
                    <span class="title">Chức Danh</span>
                    <tui-input
                        formControlName="JobTitle"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Chức Danh Của Bạn
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="JobTitle"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                
                <div class="company_box" > 
                    <span class="title">Công Ty</span>
                    <tui-input
                        formControlName="Company"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Công Ty
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="Company"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row2">
                <div class="start_box">
                    <span class="title">Từ Ngày</span>
                    <tui-input
                        formControlName="StartDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Bắt Đầu
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
                <div class="end_box">
                    <span class="title">Đến Ngày</span>
                    <tui-input
                        formControlName="EndDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Kết Thúc
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="row3">
                <div class="description_box" > 
                    <span class="title">Mô tả</span>
                    <tui-textarea formControlName="Description" [tuiTextfieldCleaner]="true">
                        Nhập Mô Tả
                    </tui-textarea>
                    <tui-error
                        formControlName="Description"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeUpdateExprienceDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateOneOfWorkExperience()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="learn_dialog" style="color: #1f1a1c" #learnDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thêm Học Vấn</h4>
            </div>
            <div class="btnClose" (click)="closeLearnDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="major_box" > 
                    <span class="title">Chuyên ngành</span>
                    <tui-input
                        formControlName="Major"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Chuyên Ngành
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="Major"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row1">
                <div class="major_box" > 
                    <span class="title">Trường học</span>
                    <tui-input
                        formControlName="School"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Trường Học
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="School"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row2">
                <div class="start_box">
                    <span class="title">Từ Ngày</span>
                    <tui-input
                        formControlName="StartDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Bắt Đầu
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
                <div class="end_box">
                    <span class="title">Đến Ngày</span>
                    <tui-input
                        formControlName="EndDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Kết Thúc
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="row3">
                <div class="description_box" > 
                    <span class="title">Bằng cấp</span>
                    <tui-textarea formControlName="Degree" [tuiTextfieldCleaner]="true">
                        Nhập Bằng Cấp
                    </tui-textarea>
                    <tui-error
                        formControlName="Degree"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeLearnDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateEducation()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="learn_dialog" style="color: #1f1a1c" #updateLearnDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Sửa Học Vấn</h4>
            </div>
            <div class="btnClose" (click)="closeUpdateLearnDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="major_box" > 
                    <span class="title">Chuyên ngành</span>
                    <tui-input
                        formControlName="Major"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Chuyên Ngành
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="Major"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row1">
                <div class="major_box" > 
                    <span class="title">Trường học</span>
                    <tui-input
                        formControlName="School"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Trường Học
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="School"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="row2">
                <div class="start_box">
                    <span class="title">Từ Ngày</span>
                    <tui-input
                        formControlName="StartDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Bắt Đầu
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
                <div class="end_box">
                    <span class="title">Đến Ngày</span>
                    <tui-input
                        formControlName="EndDay"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        Nhập Ngày Kết Thúc
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="row3">
                <div class="description_box" > 
                    <span class="title">Bằng cấp</span>
                    <tui-textarea formControlName="Degree" [tuiTextfieldCleaner]="true">
                        Nhập Bằng Cấp
                    </tui-textarea>
                    <tui-error
                        formControlName="Degree"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeUpdateLearnDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateOneOfEducation()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="skill_dialog" style="color: #1f1a1c" #skillDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thêm Kỹ Năng</h4>
            </div>
            <div class="btnClose" (click)="closeSkillDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="skill_box" > 
                    <span class="title">Tên kĩ năng</span>
                    <tui-input
                        formControlName="Skill"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeSkillDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateSkill()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="language_dialog" style="color: #1f1a1c" #languageDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thêm Ngoại Ngữ</h4>
            </div>
            <div class="btnClose" (click)="closeLanguageDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="language_box" > 
                    <span class="title">Ngoại ngữ</span>
                    <tui-input
                        formControlName="Language"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeLanguageDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateLanguage()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="desired_dialog" style="color: #1f1a1c" #desiredDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Sửa Công Việc Mong Muốn</h4>
            </div>
            <div class="btnClose" (click)="closeDesiredDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="location_box" > 
                    <span class="title">Nơi làm việc</span>
                    <tui-input
                        formControlName="Location"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                        style="margin-bottom: 10px;"
                    >
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
                <div class="salary_box" > 
                    <span class="title">Mức lương mong muốn (USD/Tháng)</span>
                    <tui-input
                        formControlName="Salary"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeDesiredDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateDesiredJob()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="user_dialog" style="color: #1f1a1c" #userDialog>
    <form [formGroup]="profileForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thông tin cơ bản</h4>
            </div>
            <div class="btnClose" (click)="closeUserDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="row1">
                <div class="basic">
                    <div class="info_user">
                        <div class="name_user">
                            <span class="title">Họ và Tên</span>
                            <tui-input
                                formControlName="Name"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                style="margin-bottom: 10px;"
                            >
                                <input
                                    tuiTextfield
                                    type="text"
                                   
                                />
                            </tui-input>
                        </div>
                        <div class="position_user">
                            <span class="title">Chức danh</span>
                            <tui-input
                                formControlName="Position"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                style="margin-bottom: 10px;"
                            >
                                <input
                                    tuiTextfield
                                    type="text"
                                />
                            </tui-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="experience">
                        <span class="title">Kinh nghiệm (Năm)</span>
                        <tui-input
                            formControlName="Experience"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            style="margin-bottom: 10px;"
                        >
                            <input
                                tuiTextfield
                                type="text"
                            />
                        </tui-input>
                    </div>
                    <div class="phone">
                        <span class="title">Điện thoại</span>
                        <tui-input
                            formControlName="Phone"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            style="margin-bottom: 10px;"
                        >
                            <input
                                tuiTextfield
                                type="number"
                            />
                        </tui-input>
                    </div>
                </div>
                <div class="row">
                    <div class="email">
                        <span class="title">Email</span>
                        <tui-input
                            formControlName="Email"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            style="margin-bottom: 10px;"
                        >
                            <input
                                tuiTextfield
                                type="email"
                            />
                        </tui-input>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="title">Lĩnh vực</span>
                        <div class="custom-select"> 
                            <select formControlName="Field" (change)="onFieldChange($event)">
                              <option *ngFor="let field of fieldList" value="{{field._id}}" >{{field.FieldName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="career">
                        <span class="title">Ngành nghề</span>
                        <div class="custom-select" > 
                            <select formControlName="Career">
                              <option *ngFor="let career of careerList" value="{{career._id}}" >{{career.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <span class="title">Địa chỉ</span>
                    <tui-input
                        formControlName="Address"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                        style="margin-bottom: 10px;"
                    >
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                </div>
            </div>
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeUserDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateBasicInfo()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

