#profile_container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: #F7F8FA;
    .profile_center{
        display: flex;
        flex-direction: column;
        width: 60%;
        
        .basic_information{
            padding: 16px;
            background-color: #F1F2F4;
            border-radius: 8px;
            width: 100%;
            //height: 15rem;
            display: flex;
            flex-direction: column;
            .information_box{
                width: calc(100% - 32px);
                height: 7rem;
                background: #fff;
                padding: 16px;
                display: flex;
                flex-direction: row;
                border-radius: 12px;
                cursor: pointer;
                .img_profile{
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                    
                    img{
                        //width: 100%;
                        height: 100%;
                        
                    }
                }
                .information{
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 0 15px;
                    width: calc(100% - 100px);
                    .user_name{
                        font-size: 25px;
                        font-weight: bold;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        .material-symbols-outlined{
                            font-size: 20px;
                        }
                    }
                    .box1{
                        margin: 3px 0 5px 0;
                        .position_box{
                            font-size: 14px;
                        }
                    }
                    .info_list{
                        .row1, .row2{
                            display: flex;
                            flex-direction: row;
                            .gmail_user, .phone_user, .address_user{
                                width: 50%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                .material-symbols-outlined{
                                    font-size: 18px;
                                }
                                .gmail, .phone, .address{
                                    font-size: 14px;
                                    margin-left: 7px;
                                }
                                span{
                                    margin: 0;
                                }
                            }
                        }
                        
                    }

                }
            }

            .desired_job{
                margin-top: 20px;
                width: calc(100% - 32px);
                height: 100px;
                padding: 16px;
                background: #fff;
                border-radius: 12px;
                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    h2{
                        font-size: 22px;
                        font-weight: bold;
                    }
                    .material-symbols-outlined{
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
                .workplace, .salary{
                    display: flex;
                    flex-direction: row;
                    .title_workplace, .title_salary{
                        width: 28%;
                        font-size: 14px;
                        color: #8C8C8C;
                    }
                    .location, .salary_desired{
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
                
            }
        }

        .pdf{
            background-color: #fff;
            border-radius: 8px;
            width: 100%;
            margin-top: 16px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            
            .control_pdf{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .change{
                    color: rgb(0, 90, 255);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    cursor: pointer;
                    .material-symbols-outlined{
                        margin-right: 5px;
                    }
                }
                .change:hover{
                    color: #FF7D55;
                }
            }
            
        }
        
        .work_experience ,.learn ,.skill, .language ,
        .target,.reference{
            background-color: #fff;
            border-radius: 8px;
            width: 100%;
            margin-top: 16px;
            padding: 16px;
            
            h2{
                font-size: 22px;
                //font-weight: bold;
                margin-bottom: 16px;
            }
            .introduction{
                font-size: 12px;
                font-style: italic;
            }
            .add_text{
                cursor: pointer;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #005aff;
                font-weight: 500;
                margin-top: 16px;
                .material-symbols-outlined{
                    margin-right: 5px;
                }
            }

            .input_work_experience{
                margin-top: 20px;
                display: flex;
                flex-direction: row;

                tui-input{
                    width: 50%;
                }

            }
        }

        .abc{
            dialog {
                /* Styles for the dialog itself */
                background-color: #e50202;
                border: 1px solid #ddd;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
        }

        .work_experience{
            .experience_select{
                width: calc(100% - 32px);
                padding: 16px;
                background: #F7F8FA;
                margin-top: 10px;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .box1{
                    display: flex;
                    flex-direction: row;
                    .img_experience{
                        width: 100px;
                        height: 100px;
                        border-radius: 5px;
                        margin-right: 15px;
                        img{
                            //width: 100%;
                            height: 100%;
                        }
                    }
                    .info_experience{
                        display: flex;
                        flex-direction: column;
                        .position_user{
                            font-size: 16px;
                            font-weight: 500;
                        }
                        .company_user{
                            font-size: 14px;
                            
                        }
                        .date_user{
                            font-size: 14px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
                
                .control{
                    display: flex;
                    flex-direction: row;
                    font-size: 16px;
                    .edit{
                        cursor: pointer;
                        span{
                            font-size: 20px;
                        }
                    }
                    .delete{
                        margin-left: 10px;
                        cursor: pointer;
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .learn{
            .learn_select{
                width: calc(100% - 32px);
                padding: 16px;
                background: #F7F8FA;
                margin-top: 10px;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .box1{
                    display: flex;
                    flex-direction: row;
                    .img_experience{
                        width: 100px;
                        height: 100px;
                        border-radius: 5px;
                        margin-right: 15px;
                        img{
                            //width: 100%;
                            height: 100%;
                        }
                    }
                    .info_learn{
                        display: flex;
                        flex-direction: column;
                        .learn_name {
                            font-size: 16px;
                            font-weight: 500;
                        }
                        
                        .school_name{
                            font-size: 14px;
                        }
                        .date_user{
                            font-size: 14px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
                
                .control{
                    display: flex;
                    flex-direction: row;
                    font-size: 16px;
                    .edit{
                        cursor: pointer;
                        span{
                            font-size: 20px;
                        }
                    }
                    .delete{
                        margin-left: 10px;
                        cursor: pointer;
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        
        .language, .skill ,.target{
            .language_select 
            {
                width: calc(100% - 32px);
                border-radius: 12px;
                margin-top: 10px;
                padding: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                span{
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }
                .material-symbols-outlined{
                    font-size: 20px;
                }
            }
            .language_select:hover
            {
                background: #F7F8FA;
            }
        }

        .target_select,.skill_select{
            width: calc(100% - 32px);
            border-radius: 12px;
            margin-top: 10px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            span{
                font-size: 16px;
                font-weight: 500;
                margin: 0;
            }
            .material-symbols-outlined{
                font-size: 20px;
            }
            .control{
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
            .target_select:hover, .skill_select:hover{
                background: #F7F8FA;
            }
        }

        .reference{
           .reference_select{
                width: calc(100% - 32px);
                border-radius: 12px;
                margin-top: 10px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .name{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span{
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0;
                    }
                    .material-symbols-outlined{
                        font-size: 20px;
                    }
                    .control{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }
                }

                .row{
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    margin-top: 5px;
                }
                
                
            }
            .reference_select:hover{
                background: #F7F8FA;
            }
        }
    }
}

#experience_dialog, #learn_dialog, #skill_dialog, 
#language_dialog, #desired_dialog, #user_dialog, 
#target_dialog, #reference_dialog{
    //height: 60%;
    width: 40%;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 24px;
    #top_dialog {
        height: 7%;
        width: 100%;
        border-bottom: 1px solid #cac8c8;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title{
            h4{
                font-size: 20px;
                font-weight: 500;
            }
        }
        .btnClose {
            cursor: pointer;
            .material-symbols-outlined {
                font-size: 23px;
                color: rgb(102,102, 102);
            }
        }
    }
    #body_dialog{
        margin-top: 20px;
        .row1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .position_box, .company_box{
                width: 48%;
                gap: 10px;
                tui-input{
                    margin-top: 10px;
                }
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
            }
        }
        .row2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            .start_box, .end_box{
                width: 48%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                tui-input{
                    margin-top: 10px;
                }
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .datetimepicker {
                    display: inline-flex;
                    align-items: center;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    border-radius: 8px;
                    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
                    &:focus-within {
                        border-color: teal;
                    }
                    
                    input {
                        font: inherit;
                        color: inherit;
                        appearance: none;
                        outline: none;
                        border: 0;
                        background-color: transparent;
                        &[type=date] {
                            width: 17rem;
                            height: 2.1rem;
                            padding: 0.5rem;
                            border-right-width: 0;
                            font-size: 1rem;
                        }
                    }
                    
                    span {
                        height: 1rem;
                        margin-right: .25rem;
                        margin-left: .25rem;
                        border-right: 1px solid #ddd;
                    }
                }
        
            }
        }
        .row3{
            display: flex;
            margin-top: 20px;
            .description_box{
                width: 100%;
                gap: 10px;
                tui-textarea{
                    margin-top: 10px;
                }
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
            }
        }

        .row4{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
            .btn_Huy, .btn_Luu{
                .tui-space_right-3{
                    margin-right: 0;
                }
                .tui-space_bottom-3{
                    margin-bottom: 0;
                }
            }
            .btn_Luu{
                ::ng-deep [tuiWrapper][data-appearance=primary]{
                    background-color: #fd916f;
                    // border-color: #005aff;
                    color: #fff;
                }
            }
            .btn_Huy{
                ::ng-deep [tuiWrapper][data-appearance=primary]{
                    background-color: #f1f2f4;
                    color: #000000;
                }
            }
        }
    }
}

#learn_dialog{
    #body_dialog{
        .major_box{
            tui-input{
                margin-top: 10px;
            }
            width: 100%;
            .title{
                font-size: 14px;
                font-weight: 600;
            }
            .title::before{
                content: "*";
                color: rgb(220, 54, 46);
                margin-right: 4px;
            }
        }
    }
}


#skill_dialog{
    #body_dialog{
        .row1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .skill_box{
                width: 82%;
                tui-input{
                    margin-top: 10px;
                }
                
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
            }
            .level{
                width: 16%;
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
                
                .custom-select{
                    margin-top: 10px;
                    width: 100%;
                    position: relative;
                    select{
                        appearance: none;
                        width: 100%;
                        font-size: 14px;
                        padding: 0.675em 3em 0.675em 1em;
                        background-color: #fff;
                        border: 1px solid #caced1;
                        border-radius: 10px;
                        color: #000;
                        cursor: pointer;
                        box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1); 
                    }
                }
                .custom-select::before,
                .custom-select::after {
                --size: 0.3rem;
                position: absolute;
                content: "";
                right: 1rem;
                pointer-events: none;
                }

                .custom-select::after {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-top: var(--size) solid black;
                top: 50%;
                }
            }
        }
        
    }
}

#language_dialog, #target_dialog{
    #body_dialog{
        .language_box,.target_box{
            tui-input{
                margin-top: 10px;
            }
            width: 100%;
            .title{
                font-size: 14px;
                font-weight: 600;
            }
            .title::before{
                content: "*";
                color: rgb(220, 54, 46);
                margin-right: 4px;
            }
        }
    }
}


#desired_dialog{
    #body_dialog{
        .row1{
            display: flex;
            flex-direction: column;
            .location_box, .salary_box{
                tui-input{
                    margin-top: 10px;
                }
                width: 100%;
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
            }

        }
    }
}

#user_dialog::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#user_dialog{
    height: 80%;
    overflow: auto;
    position: fixed;
    #body_dialog{
        .row1{
            display: flex;
            flex-direction: column;
            .basic{
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                .info_user{
                    width: 100%;
                    .name_user, .position_user{
                        tui-input{
                            margin-top: 10px;
                        }
                        .title{
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .title::before{
                            content: "*";
                            color: rgb(220, 54, 46);
                            margin-right: 4px;
                        }
                    }
                }
            }
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .experience, .salary, 
                .phone, .career ,.field{
                    width: 48%;
                    tui-input{
                        margin-top: 10px;
                    }
                    .title{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .title::before{
                        content: "*";
                        color: rgb(220, 54, 46);
                        margin-right: 4px;
                    }
                }

                .career, .field{
                    margin-bottom: 10px;
                    .custom-select{
                        margin-top: 10px;
                        width: 100%;
                        position: relative;
                        select{
                            appearance: none;
                            width: 100%;
                            font-size: 14px;
                            padding: 0.675em 6em 0.675em 1em;
                            background-color: #fff;
                            border: 1px solid #caced1;
                            border-radius: 10px;
                            color: #000;
                            cursor: pointer;
                            box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1); 
                        }
                    }
                    .custom-select::before,
                    .custom-select::after {
                    --size: 0.3rem;
                    position: absolute;
                    content: "";
                    right: 1rem;
                    pointer-events: none;
                    }

                    .custom-select::after {
                    border-left: var(--size) solid transparent;
                    border-right: var(--size) solid transparent;
                    border-top: var(--size) solid black;
                    top: 50%;
                    }
                }
            }
        }
        
        .address, .email{
            width: 100%;
            tui-input{
                margin-top: 10px;
            }
            .title{
                font-size: 14px;
                font-weight: 600;
            }
            .title::before{
                content: "*";
                color: rgb(220, 54, 46);
                margin-right: 4px;
            }
        }
    }
}

#reference_dialog{
    #body_dialog{
        .reference_box{
            width: 100%;
            display: flex;
            flex-direction: column;
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .name, .position, .email, .phone{
                    width: 48%;
                    tui-input{
                        margin-top: 10px;
                    }
                    .title{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .title::before{
                        content: "*";
                        color: rgb(220, 54, 46);
                        margin-right: 4px;
                    }
                }
            }
            .company{
                width: 100%;
                margin-top: 10px;
                tui-input{
                    margin-top: 10px;
                }
                .title{
                    font-size: 14px;
                    font-weight: 600;
                }
                .title::before{
                    content: "*";
                    color: rgb(220, 54, 46);
                    margin-right: 4px;
                }
            }
        }
    }
}

