<div id="recruiter_container">
    <div id="header">
        <div class="title">
            Quản lý nhà tuyển dụng
        </div>
    </div>
    <div id="body">
        <div class="item_list">
            <div class="item">
                <div class="item_box">
                    <div class="item_header">
                        <img src="../../../../assets/images/avatar-user.jpg" alt="">
                    </div>
                    <div class="item_body">
                        <div class="item_name">
                            Nguyễn Văn A
                        </div>
                        <div class="item_email">
                            khoaphung.18072002!gmail.com
                        </div>
                        <div class="item_phone">
                            0981809824
                        </div>
                        <div class="item_address">
                            TP Hồ Chí Minh
                        </div>
                    </div>
                </div>
                <div class="control">
                    <span class="material-symbols-outlined" (click)="openRecruiterDialog()">
                        block
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<dialog id="recruiter_dialog" style="color: #1f1a1c" #recruiterDialog>
        <div id="top_dialog">
            <div class="title">
                <h4>Bạn có chắc chắn muốn cấm ?</h4>
            </div>
            <div class="btnClose" (click)="closeRecruiterDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="control">
                <div class="btn_Huy">
                    <button appearance="primary" size="m" tuiButton type="button" (click)="closeRecruiterDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        No
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" size="m" tuiButton type="button"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Yes
                    </button>
                </div>
            </div>
        </div>
</dialog>
