<div id="company_container">
    <div class="company_box">
        <div class="title">
            <div class="title_main">
                Khám Phá Văn Hóa Công Ty
            </div>
            <div class="title_sub">
                Tìm hiểu văn hóa công ty và chọn cho bạn nơi làm việc phù hợp nhất
            </div>
        </div>
        <div class="search">
            <div class="search_information">
                <div class="search_img">
                    <svg class="search_img_box" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </div>
                <div class="search" [formGroup]="keywordForm" >
                    <input formControlName="keyword" type="search" placeholder="Nhập tên công ty" autocomplete="off">
                </div>
            </div>
            <div class="search_btn" (click)="search()">
                Tìm kiếm
            </div>
        </div>
        <div class="company_item">
            <div class="item_box" *ngFor="let company of compamiesToRender">
                <div class="img_cover">
                    <img src="../../../../assets/images/avatar-user.jpg" alt="">
                </div>
                <div class="info">
                    <div class="img_company">
                        <img src="../../../../assets/images/avatar-user.jpg" alt="">
                    </div>
                    <div class="info_company">
                        <div class="name_company">
                            {{company.Name}}
                        </div>
                        <div class="address_company">
                            {{company.Address}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control_item">
            <button icon="tuiIconChevronLeftLarge" title="Previous" tuiIconButton type="button" (click)="prevPage()"></button>
            <!-- <tui-pagination size="s" class="pagination" [length]="5" [(index)]="index_item"></tui-pagination> -->
            <button icon="tuiIconChevronRightLarge" title="Next" tuiIconButton type="button" (click)="nextPage()"></button>
        </div>
    </div>
</div>