<div id="jobdetail_container">
    <div class="jobdetail_box">
        <div class="title">
            Bài đăng tuyển dụng
        </div>
        <div class="list_job">
            <div class="job" *ngFor="let job of listJobs">
                <div class="job_box">
                    <div class="img_job">
                        <img src="{{job.Company.Avatar}}" alt="">
                    </div>
                    <div class="info_job">
                        <div class="name_job">
                            {{job.Name}}
                        </div>
                        <div class="company_job">
                            Công ty: {{job.Company.Name}}
                        </div>
                        <div class="salary">
                            Lương: {{job.Salary}}
                        </div>
                        <div class="address">
                            Địa chỉ: {{job.Location}}
                        </div>
                        <div class="address">
                            Trạng thái: <p *ngIf="job.StatusPayment">Đã thanh toán</p> <p *ngIf="!job.StatusPayment">Chưa thanh toán</p>
                        </div>
                        <div class="time">
                            <div class="dateStart">
                                Ngày bắt đầu: {{parseDateInComponent(job.StartDate)}}
                            </div>
                            <div style="margin: 0 5px;">-</div>
                            <div class="dateEnd">
                                Ngày kết thúc: {{parseDateInComponent(job.EndDate)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="visibility">
                        <span class="material-symbols-outlined" (click)="openreVisibilityDialog(job)">
                            visibility
                        </span>
                    </div>
                    <div class="edit">
                        <span class="material-symbols-outlined" (click)="openJobDialog(job)">
                            edit
                        </span>
                    </div>
                    <div class="delete">
                        <span class="material-symbols-outlined" (click)="deleteJob(job)">
                            delete
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="control_item">
            <button icon="tuiIconChevronLeftLarge" title="Previous" tuiIconButton type="button" (click)="prevPage()"></button>
            <!-- <tui-pagination size="s" class="pagination" [length]="5" [(index)]="index_item"></tui-pagination> -->
            <button icon="tuiIconChevronRightLarge" title="Next" tuiIconButton type="button" (click)="nextPage()"></button>
        </div>
    </div>
</div>

<dialog id="job_dialog" style="color: #1f1a1c" #jobDialog>
    <form [formGroup]="jobForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thông tin cơ bản</h4>
            </div>
            <div class="btnClose" (click)="closeJobDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="job_box">
                <form [formGroup]="jobForm">
                    <div class="name_job">
                        <div class="header">
                            <span class="title">Tên công việc:</span>
                        </div>
                        <div class="body">
                            <tui-input formControlName="Name" [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true">
                                Nhập tên công việc
                                <input tuiTextfield type="text" />
                            </tui-input>
                            <tui-error formControlName="Name" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
                    <div class="description_job">
                        <div class="header">
                            <span class="title">Mô tả công việc:</span>
                        </div>
                        <div class="body">
                            <tui-textarea formControlName="Description" [tuiTextfieldCleaner]="true">
                                Nhập mô tả công việc
                            </tui-textarea>
                            <tui-error formControlName="Description" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
        
                    <div class="location_job">
                        <div class="header">
                            <span class="title">Địa chỉ làm việc:</span>
                        </div>
                        <div class="body">
                            <tui-input formControlName="Address" [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true">
                                Nhập địa chỉ làm việc
                                <input tuiTextfield type="text" />
                            </tui-input>
                            <tui-error formControlName="Address" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Địa điểm làm việc:</span>
                        </div>
                        <div class="body">
                            <div class="tag_input">
                                <tui-input [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true" formControlName="Location">
                                    Nhập địa điểm
                                    <input tuiTextfield type="text" />
                                </tui-input>
                                <button
                                    appearance="primary"
                                    tuiButton
                                    type="button"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    (click)="addAddress()"
                                >
                                    Thêm
                                </button>
                            </div>
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let address of addressList; let i=index">
                                    <div>{{address}}</div>
                                    <span class="material-symbols-outlined" (click)="removeAddress(i)">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="salary_job">
                        <div class="header">
                            <span class="title">Lương công việc:</span>
                        </div>
                        <div class="body">
                            <div class="salary_value">
                                <span>Từ</span>
                                <tui-input-number formControlName="SalaryStart" class="salary_input">
                                </tui-input-number>
                                <tui-error formControlName="SalaryStart" [error]="[] | tuiFieldError | async"></tui-error>
            
                                <span>Đến</span>
                                <tui-input-number formControlName="SalaryEnd" class="salary_input">
                                </tui-input-number>
                                <tui-error formControlName="SalaryEnd" [error]="[] | tuiFieldError | async"></tui-error>
                            
                                <div class="check_salary">
                                    <tui-checkbox
                                        formControlName="Negotiate"
                                        class="tui-space_bottom-3"
                                    ></tui-checkbox>
                                    <span>Thương lượng</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        
                    <div class="welfare_job">
                        <div class="header">
                            <span class="title">Phúc lợi:</span>
                        </div>
                        <div class="body">
                            <div class="welfare_input">
                                <tui-input [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true" formControlName="Welfare">
                                    Nhập tên Phúc lợi
                                    <input tuiTextfield type="text" />
                                </tui-input>
                                <button
                                    appearance="primary"
                                    tuiButton
                                    type="button"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    (click)="addWelfare()"
                                >
                                    Thêm
                                </button>
                            </div>
                            <div class="welfare_list">
                                <div class="welfare_select" *ngFor="let welfare of welfareList; let i=index">
                                    <div>{{welfare}}</div>
                                    <span class="material-symbols-outlined" (click)="removeWelfare(i)">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="field_job">
                        <div class="header">
                            <span class="title">Lĩnh vực:</span>
                        </div>
                        <div class="body">
                            <div class="custom-select"> 
                                <select formControlName="Field" (change)="onFieldChange($event)">
                                  <option class="select-item" *ngFor="let field of fieldList" value="{{field._id}}" >{{field.FieldName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
        
                    <div class="career_job">
                        <div class="header">
                            <span class="title">Ngành nghề:</span>
                        </div>
                        <div class="body">
                            <div class="custom-select"> 
                                <select formControlName="Career" >
                                    <option *ngFor="let career of careerList" value="{{career._id}}" >{{career.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
        
                    <div class="dateStart_job">
                        <div class="header">
                            <span class="title">Ngày bắt đầu:</span>
                        </div>
                        <div class="body">
                            <tui-input-date class="b-form" formControlName="DateStart">
                                Choose a date
                                <input autocomplete="bday" tuiTextfield />
                            </tui-input-date>
                            <tui-error formControlName="DateStart" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
        
                    <div class="dateEnd_job">
                        <div class="header">
                            <span class="title">Ngày kết thúc:</span>
                        </div>
                        <div class="body">
                            <tui-input-date class="b-form" formControlName="DateEnd">
                                Choose a date
                                <input autocomplete="bday" tuiTextfield />
                            </tui-input-date>
                            <tui-error formControlName="DateEnd" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
        
                    <div class="requirement_job">
                        <div class="header">
                            <span class="title">Yêu cầu:</span>
                        </div>
                        <div class="body">
                            <tui-textarea formControlName="Requirement" [tuiTextfieldCleaner]="true">
                            Nhập yêu cầu công việc
                        </tui-textarea>
                        <tui-error formControlName="Requirement" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Tag:</span>
                        </div>
                        <div class="body">
                            <div class="tag_input">
                                <tui-input [tuiTextfieldCleaner]="true" [tuiTextfieldLabelOutside]="true" formControlName="Tag">
                                    Nhập tên Tag
                                    <input tuiTextfield type="text" />
                                </tui-input>
                                <button
                                    appearance="primary"
                                    tuiButton
                                    type="button"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    (click)="addTag()"
                                >
                                    Thêm
                                </button>
                            </div>
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let tag of tagsList; let i=index">
                                    <div>{{tag}}</div>
                                    <span class="material-symbols-outlined" (click)="removeTag(i)">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeJobDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
                <div class="btn_Luu">
                    <button appearance="primary" tuiButton type="button" (click)="updateJob()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>

<dialog id="visibility_dialog" style="color: #1f1a1c" #visibilityDialog>
    <form [formGroup]="jobForm">
        <div id="top_dialog">
            <div class="title">
                <h4>Thông tin cơ bản</h4>
            </div>
            <div class="btnClose" (click)="closeVisibilityDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div id="body_dialog">
            <div class="job_box">
                <form [formGroup]="jobForm">
                    <div class="name_job">
                        <div class="header">
                            <span class="title">Tên công việc:</span>
                        </div>
                        <div class="body">
                            <div class="name">{{name}}</div>
                        </div>
                    </div>
                    <div class="description_job">
                        <div class="header">
                            <span class="title">Mô tả công việc:</span>
                        </div>
                        <div class="body">
                            <div class="description">{{description}}</div>
                        </div>
                    </div>
        
                    <div class="location_job">
                        <div class="header">
                            <span class="title">Địa chỉ làm việc:</span>
                        </div>
                        <div class="body">
                            <div class="location">{{address}}</div>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Địa điểm làm việc:</span>
                        </div>
                        <div class="body">
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let address of addressList; let i=index">
                                    <div>{{address}}</div>
                                    <span class="material-symbols-outlined" (click)="removeAddress(i)">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="salary_job">
                        <div class="header">
                            <span class="title">Lương công việc:</span>
                        </div>
                        <div class="body">
                            <div class="salary_value" *ngIf="!isAgreeToRender">
                                ${{salaryStart}} - ${{salaryEnd}}
                            </div>
                            <div class="salary_value" *ngIf="isAgreeToRender">
                                Thỏa thuận
                            </div>
                        </div>
                    </div>
        
                    <div class="welfare_job">
                        <div class="header">
                            <span class="title">Phúc lợi:</span>
                        </div>
                        <div class="body">
                            <div class="welfare_list">
                                <div class="welfare_select" *ngFor="let welfare of welfareList; let i=index">
                                    <div>{{welfare}}</div>
                                    <span class="material-symbols-outlined">
                                        done
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="field_job">
                        <div class="header">
                            <span class="title">Lĩnh vực:</span>
                        </div>
                        <div class="body">
                            <div class="field">
                                {{fieldName}}
                            </div>
                        </div>
                    </div>
        
                    <div class="career_job">
                        <div class="header">
                            <span class="title">Ngành nghề:</span>
                        </div>
                        <div class="body">
                            <div class="career">
                                {{careerName}}
                            </div>
                        </div>
                    </div>
        
                    <div class="dateStart_job">
                        <div class="header">
                            <span class="title">Ngày bắt đầu:</span>
                        </div>
                        <div class="body">
                            <div class="dateStart">
                                {{dateStart}}
                            </div>
                        </div>
                    </div>
        
                    <div class="dateEnd_job">
                        <div class="header">
                            <span class="title">Ngày kết thúc:</span>
                        </div>
                        <div class="body">
                            <div class="dateEnd">
                                {{dateEnd}}
                            </div>
                        </div>
                    </div>
        
                    <div class="requirement_job">
                        <div class="header">
                            <span class="title">Yêu cầu:</span>
                        </div>
                        <div class="body">
                            <div class="requirement">{{requirement}}</div>
                        </div>
                    </div>
        
                    <div class="tag_job">
                        <div class="header">
                            <span class="title">Tag:</span>
                        </div>
                        <div class="body">
                            <div class="tag_list">
                                <div class="tag_select" *ngFor="let tag of tagsList; let i=index">
                                    <div>{{tag}}</div>
                                    <span class="material-symbols-outlined">
                                        done
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="a" style="width: 100%;
            border-bottom: 1px solid #cac8c8;margin-top: 30px;"></div>
            <div class="row4">
                <div class="btn_Huy">
                    <button appearance="primary" tuiButton type="button" (click)="closeVisibilityDialog()"
                        class="tui-space_right-3 tui-space_bottom-3">
                        Hủy
                    </button>
                </div>
            </div>
        </div>
    </form>
</dialog>
