#personalInformation_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
    
    #personalInformation_box{
        width: 50%;
        //height: 60%;
        background-color: #F8F9FA;
        margin: auto;
        padding: 20px;
        border-radius: 12px;
        margin-top: 50px;
        #header{
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 32px;
            .title{
                font-size: 28px;
                margin-bottom: 15px;
                font-weight: 600;
            }
            .title_2{
                font-size: 16px;
            }
        }
    
        #body{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .position_box, .experience_box, .career_box, .field_box{
                    width: 70%;
                    .b-form{
                        margin-top: 5px;
                    }
                    .title{
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    .title::before{
                        content: "*";
                        color: rgb(220, 54, 46);
                        margin-right: 4px;
                    }
                }

        }
    }
    
    
    #accept_box{
        height: 10%;
        //background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .btn_back{
            width: 20%;
            height: 65%;
            button{
                width: 100%;
                height: 100%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            ::ng-deep [tuiWrapper][data-appearance]{
                background-color: #F8F9FA;
                border-color: #F8F9FA;
                color: black;
            }
        }

        .btn_next{
            width: 20%;
            height: 65%;
            button{
                width: 100%;
                height: 100%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            ::ng-deep [tuiWrapper][data-appearance]{
                background-color: #FF7D55;
                border-color: #FF7D55;
                color: white;
            }
        }

        
    }
}





